.content-block {
}

.content-block.right h2 {
    text-align: right;
}

.content-block.right p {
    text-align: right;
}

.content-block.right img {
    float: right;
}

.content-block {
    overflow: hidden;
}
